/** @format */

body {
  background: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 45px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 15px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

a {
  color: #885df1;
}
.search-form-input {
  background: #f9f7fe;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 15px 20px;
  width: 80%;
}

.search-form-button {
  background-color: #885df1;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 15px 30px;
  font-size: 16px;
  margin-left: 5px;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.details {
  font-size: 16px;
  line-height: 24px;
  color: rgba(39, 33, 66, 0.4);
  font-weight: 500;
}

.temperature {
  display: flex;
}

.current-temperature {
  font-size: 88px;
  font-weight: bold;
}

.icon {
  width: 88px;
  height: 88px;
  margin-top: 10px;
  margin-right: 10px;
}

.unit {
  margin-top: 16px;
  font-size: 28px;
}

.details strong {
  color: #f65282;
}

.weather-forecast {
  margin-top: 20;
  text-align: center;
}

.forecast-day {
  font-size: 16px;
  opacity: 0.5;
}

.forecast-temperature {
  font-size: 13px;
}

.forecast-min {
  opacity: 0.5;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
